<li class="presentation-item">

    <b> {{ .date }} </b>

    {{ if .title }}
      {{if .place.url }}
        {{ .title }} at <a href="{{ .place.url }}"> {{ .place.name }} </a>
      {{ else }}
        {{ .title }} at {{ .place.name}}
      {{ end }}
    {{else}}
      {{if .place.url }}
        <a href="{{ .place.url }}"> {{ .place.name }} </a>
      {{ else }}
        {{ .place.name }}
      {{end}}
    {{end}}

    {{ if .video }}
      <a href="{{ .video }}"> [video] </a>
    {{ end }}
</li>
